* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(237,237,237);
}

@import "app/scss/variables.scss";
@import "app/scss/sections/header.scss";
@import "app/scss/sections/article.scss";
@import "app/scss/sections/footer.scss";
@import "app/scss/media-queries/large-mobile.scss";
@import "app/scss/media-queries/laptop.scss";
@import "app/scss/animations.scss";
