@import url("https://fonts.googleapis.com/css?family=Mali");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #ededed; }

.header {
  padding-bottom: 1rem;
  width: 100vw;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__background {
    width: 100%;
    user-select: none;
    overflow: hidden;
    position: relative; }
    .header__background--image {
      width: 100%;
      height: 24rem;
      z-index: -1;
      transform: scale(1.03);
      position: relative;
      filter: grayscale(80%) blur(2px) brightness(70%) contrast(90%); }
  .header__caption {
    color: white;
    position: absolute;
    transform: translate(-7px, -4vw); }
  .header__heading {
    font-size: 7vw;
    font-family: "Pacifico", cursive;
    margin: 0; }
  .header__subheading {
    margin-top: 10%;
    margin-left: 2rem;
    text-align: center;
    font-size: 4vw;
    font-family: "Pacifico", cursive; }
  .header__list {
    position: fixed;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    background: white;
    border-bottom: 3px solid black;
    font-family: Raleway, Arial, sans-serif;
    font-size: 1.2rem;
    height: 15rem;
    top: -30%; }
    .header__list--point {
      font-size: 12px;
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.7rem;
      height: 42px;
      display: flex;
      padding: 1rem;
      justify-content: center;
      border-bottom: 1px solid #f0f0f0;
      color: black;
      text-decoration: none; }
      .header__list--point:first-child {
        border-top: 1px solid #f0f0f0; }
      .header__list--point:hover {
        background: #e6e6e6;
        transition-duration: 0.6s; }
    .header__list--visible {
      display: flex;
      animation-duration: 1s;
      animation-name: navOpen;
      z-index: 9;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards; }
    .header__list--invisible {
      animation-duration: 1s;
      animation-name: navClose;
      z-index: 9;
      display: flex; }

.hamburger {
  outline: none;
  position: fixed;
  z-index: 10;
  transform: scale(0.8);
  height: 3rem;
  top: -0.6rem;
  left: -1.4rem; }

.main,
.main-s {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.article {
  border-radius: 10px;
  background: white;
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .article__image, .article__image-s {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom: dotted 1px black;
    border-top-right-radius: 5px; }
    .article__image-s, .article__image-s-s {
      height: 30rem; }
    .article__image--caption, .article__image-s--caption {
      opacity: 0;
      filter: none;
      font-size: 2rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: relative;
      top: -50%;
      display: flex;
      justify-content: center;
      color: white; }
    .article__image-cont, .article__image-s-cont {
      display: flex;
      overflow: hidden; }
      .article__image-cont a, .article__image-s-cont a {
        color: white; }
  .article__sub-heading {
    font-size: 2.7rem;
    padding: 0 1rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: .3rem;
    text-align: center;
    word-spacing: .8rem; }
    .article__sub-heading--link {
      color: black;
      text-decoration: none; }
  .article__paragraph {
    color: #666666;
    font-weight: 200;
    line-height: 2.5rem;
    padding: 2rem;
    padding-top: 1.5rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.4rem; }
  .article__button {
    text-transform: uppercase;
    font-weight: 400;
    width: 90%;
    background: white;
    border: 2px solid #151515;
    letter-spacing: .3rem;
    word-spacing: .4rem;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.1rem; }
  .article__active {
    opacity: 1; }
  .article__blur {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    filter: brightness(20%) blur(1px); }

.footer {
  width: 100%;
  height: 11.2rem;
  margin: 0;
  padding: 0; }
  .footer__heading {
    display: flex;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    height: 5rem; }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 1.3rem;
    list-style-type: none; }
    .footer__list a {
      text-decoration: none;
      color: black; }
    .footer__list--point {
      height: 3rem;
      display: flex;
      align-items: center;
      padding-right: 1.5rem;
      white-space: nowrap; }

@media (min-width: 500px) {
  .header__background--image {
    height: 30rem; }
  .header__list--point {
    font-size: 12px; }
  .article__button {
    width: 18rem;
    white-space: nowrap;
    padding: 1rem; }
  .footer {
    margin-top: 2rem; }
    .footer__list--point {
      font-size: 1.6rem; } }

@media (min-width: 750px) {
  .article {
    width: 87%; } }

@media (min-width: 1000px) {
  .header {
    flex-wrap: wrap;
    width: 100%; }
    .header__background--image {
      height: 40rem; }
    .header__heading {
      font-size: 5rem;
      transform: translate(-30px, -4rem); }
    .header__list {
      position: absolute;
      display: flex;
      flex-direction: row;
      height: 20%;
      background: none;
      border: none;
      width: 60rem;
      white-space: nowrap;
      z-index: 10;
      top: 0;
      right: 3%;
      left: unset; }
      .header__list--point {
        font-size: 1.6rem;
        color: white;
        line-height: 2rem;
        border: none; }
        .header__list--point:first-child {
          border: none; }
        .header__list--point:hover {
          background: transparent;
          color: grey;
          transition-duration: 0.6s; }
    .header__subheading {
      font-size: 3rem;
      margin-top: 0;
      transform: translate(5px, 3rem); }
  .hamburger {
    display: none; }
  .main, .main-s {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .main-s {
    width: 100rem;
    margin: 0 auto; }
  .article {
    width: 40%;
    margin: 1rem;
    height: 100%;
    margin-top: 2.5rem; }
    .article-s {
      margin: 2rem 5%;
      width: 40rem; }
    .article__image-s {
      height: 25rem;
      transform: scale(1);
      transition: transform 0.5s; }
      .article__image-s:hover {
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transform: scale(1.2) rotate(2deg); }
    .article__paragraph {
      height: 15rem; }
      .article__paragraph-s {
        height: 20rem;
        padding: 3rem; }
      .article__paragraph--double {
        height: 10rem;
        padding: 2rem 7%; }
    .article__double {
      width: 81%;
      height: 100%; } }

@keyframes navOpen {
  to {
    top: 0; } }

@keyframes navClose {
  from {
    top: 0; }
  to {
    top: -30%; } }
