@media(min-width:1000px) {

    .header {
        flex-wrap: wrap;
        width: 100%;

        &__background {
            &--image {
                height: 40rem;
            }
        }

        &__heading {
            font-size: $font-size-n + 3rem;
            transform: translate(-30px, -4rem);
        }

        &__list {
            position: absolute;
            display: flex;
            flex-direction: row;
            height: 20%;
            background: none;
            border: none;
            width: 60rem;
            white-space: nowrap;
            z-index: 10;
            top: 0;
            right: 3%;
            left: unset;

            &--point {
                font-size: $font-size-n - 0.4rem;
                color: white;
                line-height: 2rem;
                border: none;
                
                &:first-child {
                    border: none;
                }

            &:hover {
                background:transparent;
                color: grey;
                transition-duration: 0.6s;
            }
            }
        }

        &__subheading {
            font-size: $font-size-n + 1rem;
            margin-top: 0;
            transform: translate(5px, 3rem);
        }
    }

    .hamburger {
        display: none;
    }

    .main, .main-s {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-s{
        width: 100rem;
        margin: 0 auto;
        
    }
    .article {
        width: 40%;
        margin: 1rem;

        height: 100%;
            
        margin-top: 2.5rem;
        &-s{
            margin: 2rem 5%;
            width: 40rem;
        }
        &__image-s{
            height: 25rem;
            transform: scale(1);
            transition: transform 0.5s;
            
            &:hover{
                transition-duration: 0.5s;
                transition-timing-function: ease-in-out;
                transform: scale(1.2) rotate(2deg);
            }
        }
        &__paragraph {
            height: 15rem;
            &-s{
                height: 20rem;
                padding: 3rem;
            }
            &--double{
                height: 10rem;
                padding: 2rem 7%;
            }
        }

        &__double {
            width: 81%;
            height: 100%;
        }
    }

}