@media(min-width: 500px){
    .header{
        &__background{
            &--image{
                height: 30rem;
            }
        }
        &__list--point{
            font-size: 12px;
        }
    }
    .article{
        &__button{
            width: 18rem;
            white-space: nowrap;
            padding: 1rem;
        }
    }
    .footer{
        margin-top: 2rem;
        &__list--point{
            font-size:$font-size-n - 0.4rem;
        }
    }
}
@media(min-width:750px){
    .article{
        width: 87%;
        
    }
}